# Ignorar arquivos de compilação
*.o
*.exe
*.out

# Ignorar diretórios de dependências
/node_modules/
/venv/
/build/
/dist/

# Ignorar arquivos de configuração
*.log
*.tmp
*.bak

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db
cmake-build-debug/